@media (max-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    position: fixed;
    top: 25px;
    right: 10px;
    z-index: 2;
    border: 0px;
    background: transparent;
  }
}
