.container {
    position: fixed;
    top: 0px;
    background-color: #1f1f20;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        transition: 1s;
    }
}

.titulo {
    color: #dce0e6;
    font-size: 20px;
    margin-top: 10px;
}