.navbar{
position: fixed;
top: 70px;
height: 50px;
width: 70%;
background-color: #1f1f20;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
transition: 1s;
}

@media (max-width: 1024px) {
    .navbar{
        width: 100%;
        transition: 1s;
    }
}

.menu svg{
    margin: 0px 10px;
}

.menu span{
    font-size: 20px;
    color: #dce0e6;
}

.menu{
    height: 40px;
    border: none;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    background: transparent;
    transition: 0.5s;
    text-decoration: none;
}

.menu:hover{
    background-color: #606d80;
    transform: scale(1.05);
}