.navbar {
  position: fixed;
  top: 100px;
  height: 50px;
  width: 70%;
  background-color:  #dce0e6;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  transition: 1s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
  background: transparent;
}

.menu {
  background-color: #606d80;
  height: 40px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  transition: 0.5s;
  text-decoration: none;
}

.menu svg {
  margin: 0px 10px;
}

.menu span {
  font-size: 15px;
  color: #dce0e6;
}

.menu:hover {
  height: 60px; 
}

  @media (max-width: 1024px) {
    .navbar {
      padding-top: 50px;
      top: 0px;
      right: 0px;
      height: 100vh;
      justify-content: flex-start;
      align-items: flex-start;
      width: 0px;
      flex-direction: column;
      transition: 1s;
      background-color: #1f1f20;
      z-index: 1;
    }
    .menu {
      margin-left: 20px;
      background: transparent;
    }
    .menu svg {
      margin: 0px 10px;
    }
    .menu span {
      font-size: 15px;
      color:  #dce0e6;
    }
  }