@font-face {
  font-family: 'Hamburg';
  src: url('../public/fonts/Hamburg.ttf') format('truetype');
}
@font-face {
  font-family: 'Glossy';
  src: url('../public/fonts/Glossy\ Sheen\ Regular\ DEMO.ttf') format('truetype');
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}